<!--Main Navigation-->
<mdb-navbar SideClass="navbar navbar-light blue-grey lighten-5 fixed-top navbar-expand-lg scrolling-navbar" [containerInside]="false">
  <a class="navbar-brand" href="#">Androxia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a mdbPageScroll class="nav-link" href="#services-section">Services</a>
      </li>
      <li class="nav-item">
        <a mdbPageScroll class="nav-link" href="#portfolio">Portfolio </a>
      </li>
      <!-- <li class="nav-item">
          <a mdbPageScroll class="nav-link" href="#resources">Resources</a>
      </li> -->
      <li class="nav-item">
        <a mdbPageScroll class="nav-link" href="#company">Company</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-sm blue-gradient btn-rounded waves-light" mdbRippleRadius data-toggle="modal" data-target="#basicExample"
          (click)="contactUsModal.show()">Got an idea?</button>
      </li>
    </ul>
  </div>
</mdb-navbar>

<!--Main Navigation-->

<!-- Section: Jumbotron -->
<div class="jumbotron">
  <div class="jumbo-text">
    <span style="font-size:40px"> Our Mission </span>
    <div class="intro-text">
      <p class="lead">
        <i>To redefine the way you experience the world.</i>
      </p>
    </div>
  </div>
</div>
<!-- /Section: Jumbotron -->

<!--Section: Why choose us -->
<section class="section feature-box" id="services-section">
  <div class="row">
    <div class="col-sm-4 offset-sm-1 d-none d-md-block">
      <img src="../assets/img/mobile-stencil.jpg" alt="">
    </div>
    <div class="col-sm-6 offset-sm-1 services-info">
      <div class="row">
        <div class="col">
          <h2 class="h1 section-heading">Services</h2>
          <p class="grey-text">We're here to help you build your brand, reach new customers, and grow relationships.</p>
        </div>
      </div>
      <!--Grid row-->
      <div class="row features-small pt-2">

        <!--Grid column-->
        <div class="col-sm-10">

          <!--Grid row-->
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-list-ul"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Capabilities</h5>
              <p class="grey-text">Androxia offers the full range of digital marketing services from conception through launch. We strive for
                innovation and constantly seek ways to create unforgettable experiences.</p>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-pencil-square-o"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Consulting</h5>
              <p class="grey-text">Realize a solution for your needs with the help of our experts. From workshops and seminars through global
                rollouts, we will work with you every step of the way to ensure engagement, satisfaction, and alignment.</p>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-credit-card-alt"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">ROI</h5>
              <p class="grey-text">We operate with a data-first approach and carefully measure value using real metrics and tracking for success.
                We believe that informed decisions are the best decisions, and vet market research to support our tactics.</p>
            </div>
          </div>
          <!--Grid row-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
  </div>
</section>

<!--Projects section-->
<section class="section pb-3 projects-section" id="portfolio">
  <!--Section heading-->
  <h2 class="section-heading h1 pt-4">Portfolio</h2>
  <!--Section description-->
  <p class="section-description">Explore our work and some of the products we've successfully launched.</p>
  <div class="row text-center">
    <div class="col-lg-4 col-md-12 mb-r">
      <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
        <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Sample project image">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <div class="card-body mt-1">
        <a href="" class="blue-text">
          <h5>Wager</h5>
        </a>
        <h4>Want to make a bet?</h4>
        <p>Connect with and bet your friends on Wager, an app that keeps you on your toes!</p>
        <a class="btn btn-sm waves-light" mdbRippleRadius>
          <i class="fa fa-clone left"></i> View project</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-r">
      <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
        <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" alt="Sample project image">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <div class="card-body mt-1">
        <a href="" class="blue-text">
          <h5>Switz</h5>
        </a>
        <h4>Make a plan without the headache</h4>
        <p>Build a complete itinerary specific to any occasion with the click of a button.</p>
        <a class="btn btn-sm waves-light" mdbRippleRadius>
          <i class="fa fa-clone left"></i> View project</a>
      </div>

    </div>

    <div class="col-lg-4 col-md-6 mb-r">
      <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
        <img src="../assets/img/embolden.jpg" alt="Sample project image">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <div class="card-body mt-1">
        <a href="" class="blue-text">
          <h5>Embolden</h5>
        </a>
        <h4>Shop for the best items</h4>
        <p>Explore a whole new world of quality goods with polished design.</p>
        <a class="btn btn-sm waves-light" href="https://www.emboldenyou.com/" target="_blank" mdbRippleRadius>
          <i class="fa fa-clone left"></i> Visit Website</a>
      </div>
    </div>
  </div>

  <form action="https://androxia.us17.list-manage.com/subscribe/post?u=853f5b8e4add0166096e53833&amp;id=11cff2a8fa" method="post"
    id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="row justify-content-md-center">
      <div class="col text-center">
        <h5>Excited enough to find out when our products will get released?</h5>
        <input type="submit" value="Subscribe" class="btn btn-primary btn-md waves-light" mdbRippleRadius>
      </div>
    </div>
  </form>

</section>
<!--/Projects section -->

<div mdbModal #contactUsModal="mdb-modal" class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center">Write to us</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="contactUsModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Contact Form-->
        <form style="padding:20px">
          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="form3" class="form-control" mdbActive>
            <label for="form3">Your name</label>
          </div>

          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="text" id="form2" class="form-control" mdbActive>
            <label for="form2">Your email</label>
          </div>

          <div class="md-form">
            <i class="fa fa-tag prefix grey-text"></i>
            <input type="text" id="form32" class="form-control" mdbActive>
            <label for="form34">Subject</label>
          </div>

          <div class="md-form">
            <i class="fa fa-pencil prefix grey-text"></i>
            <textarea type="text" id="form8" class="md-textarea" mdbActive></textarea>
            <label for="form8">Your message</label>
          </div>

          <div class="text-center">
            <button class="btn btn-success waves-light" mdbRippleRadius>Send
              <i class="fa fa-paper-plane-o ml-1"></i>
            </button>
          </div>

        </form>
      </div>
      <!--Contact Form-->
    </div>
  </div>
</div>

<!--Section: Team v.4-->
<section class="section pb-3" id="company">

  <!--Section heading-->
  <h2 class="section-heading h1 pt-4">Company</h2>
  <!--Section description-->
  <p class="section-description">We work hard and have an amazing culture. Check out some of our teammates below.</p>

  <div class="row">

    <!--Grid column-->
    <div class="col-lg-6 col-md-12 mb-r">

      <mdb-card-rotating #cards1>
        <!--Front Side-->
        <div class="face front tp-box_side tp-box_front">

          <!-- Image-->
          <div class="card-up">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid">
          </div>
          <!--Avatar-->
          <div class="avatar">
            <img src="../assets/img/asutosh_profile.jpg" class="rounded-circle img-responsive">
          </div>
          <!--Content-->
          <div class="card-body">
            <h4>Asutosh Patel</h4>
            <p>Co-Founder</p>
            <!--Triggering button-->
            <a class="rotate-btn" data-card="card-1" (click)="cards1.toggle()">
              <i class="fa fa-repeat"></i> About me</a>
          </div>
        </div>
        <!--/.Front Side-->

        <!--Back Side-->
        <div class="back tp-box_side tp-box_back">

          <!--Content-->
          <h4>About me</h4>
          <hr>
          <p>Asutosh is a firm believer in a smoother, more peaceful life with a focus on creativity. He has built his unique
            way of thinking through Bachelors of Physics and Pre-Medicine; constant relocation didn’t help him gain a monotone
            mindset either. He is currently completing his Masters at Fuqua School of Business while autonomously thinking
            of ways to make this world a better place.</p>
          <hr>
          <!--Social Icons-->
          <ul class="inline-ul">
            <li>
              <a class="icons-sm fb-ic" href="https://www.facebook.com/asutosh.patel.9">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="icons-sm li-ic" href="https://www.linkedin.com/in/asutoshpatel/">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <!--Triggering button-->
          <a class="rotate-btn" data-card="card-1" (click)="cards1.toggle()">
            <i class="fa fa-undo"></i> Click here to rotate back</a>

        </div>
        <!--/.Back Side-->
      </mdb-card-rotating>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-6 col-md-12 mb-r">

      <mdb-card-rotating #cards2>
        <!--Front Side-->
        <div class="face front tp-box_side tp-box_front">

          <!-- Image-->
          <div class="card-up">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-fluid">
          </div>
          <!--Avatar-->
          <div class="avatar">
            <img src="../assets/img/savannah_profile.jpg" class="rounded-circle img-responsive">
          </div>
          <!--Content-->
          <div class="card-body">
            <h4>Savannah Taylor</h4>
            <p>Founder</p>
            <!--Triggering button-->
            <a class="rotate-btn" data-card="card-1" (click)="cards2.toggle()">
              <i class="fa fa-repeat"></i> About me</a>
          </div>
        </div>
        <!--/.Front Side-->

        <!--Back Side-->
        <div class="back tp-box_side tp-box_back">

          <!--Content-->
          <h4>About me</h4>
          <hr>
          <p>Before founding Androxia, Savannah Taylor worked in New York City for companies like WPP, Conde Nast, Vivendi,
            Marsh & McLennan, and Bloomberg L.P. She started off in finance working for a private equity and hedge fund before
            moving to digital marketing. She graduated with her Masters from Duke University's Fuqua School of Business.</p>
          <hr>
          <!--Social Icons-->
          <ul class="inline-ul">
            <li>
              <a class="icons-sm fb-ic" href="https://www.facebook.com/SavannahLTaylor" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="icons-sm tw-ic">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="icons-sm li-ic" href="https://www.linkedin.com/in/savannahltaylor/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <!--Triggering button-->
          <a class="rotate-btn" data-card="card-1" (click)="cards2.toggle()">
            <i class="fa fa-undo"></i> Click here to rotate back</a>

        </div>
        <!--/.Back Side-->
      </mdb-card-rotating>

    </div>
    <!--Grid column-->

  </div>

</section>
<!--Section: Team-->

<!--Footer-->
<footer class="page-footer mdb-color center-on-small-only">

  <!--Footer Links-->
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <ul>
          <li>
            <a href="#!">Privacy Policy</a>
          </li>
          <li>
            <a href="#!">Terms of Use</a>
          </li>
          <li>
            <a data-toggle="modal" data-target="#basicExample" (click)="contactUsModal.show()">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center mb-3">
        <a class="btn-floating btn-small btn-fb waves-light" href="https://www.facebook.com/Androxia-840864939408431/" target="_blank"
          mdbRippleRadius>
          <i class="fa fa-facebook"> </i>
        </a>
        <a class="btn-floating btn-small btn-yt waves-light" href="" target="_blank" mdbRippleRadius>
          <i class="fa fa-youtube"> </i>
        </a>
        <a class="btn-floating btn-small btn-li waves-light" href="" target="_blank" mdbRippleRadius>
          <i class="fa fa-linkedin"> </i>
        </a>
      </div>
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      Copyright © 2018
      <a href="https://www.androxia.com">Androxia.com </a> - All rights reserved.
    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
