<nav class="navbar fixed-top navbar-expand-lg">
  <a class="navbar-brand" href="#">Androxia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Portfolio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-light idea-button">Got an idea?</button>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron" id="particles-js">
  <div class="jumbo-text">
    <h2 class="display-4">
      <i>Let us help you connect</i>
    </h2>
    <p class="lead">Our award-winning digital marketing services will ensure you send the right message to the right people.</p>
    <p class="lead">
      <a class="btn btn-outline-light" href="#" role="button">Learn more</a>
    </p>
  </div>
  <!-- <div class="mission-statement">
    <h5>Premier app and website development company with a diverse product portfolio, media platform, and award-winning digital
      marketing services.</h5>
    <button class="btn btn-outline-light" style="margin-top:10px">Learn more</button>
  </div> -->

</div>

<div class="container-fluid services-section">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../assets/img/startup.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Startups</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.</p>
          <a href="#" class="btn btn-dark btn-block">Get Started</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../assets/img/digital-marketing.jpg" alt="Digital Marketing">
        <div class="card-body">
          <h4 class="card-title">Digital Marketing</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.</p>
          <a href="#" class="btn btn-dark btn-block">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../assets/img/innovation.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Innovation</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.</p>
          <a href="#" class="btn btn-dark btn-block">Lets Talk</a>
        </div>
      </div>
    </div>
  </div>
</div>