.navbar {
  background-color: transparent;
  a {
    color: white;
  }
}

.top-nav-collapse {
  background-color: #4285F4 !important;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding-left: 20px;
  color: white;
}

.jumbo-text {
  padding-top: 250px;
  color: white !important;
  button {
    margin: 0;
    color: black !important;
  }
  i {
    font-size: 50px;
  }
}

.intro-text {
  width: 500px;
}

.section {
  padding: 20px;
  font-family: 'Lato', sans-serif;
  .section-heading,
  .section-description {
    padding-bottom: 30px;
  }
}

.jumbotron {
  background: url("../assets/img/androxia.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
}

.feature-box i {
  font-size: 30px;
}

.projects-section {
  background: linear-gradient(135deg, #f5f5f5, #ececec);
  img {
    height: 300px;
    width: 100%;
  }
}

.team-section {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  color: white;
  .avatar {
    margin-bottom: 2rem;
    height: auto;
    img {
      height: 250px;
      width: 250px;
    }
    .lead-person {
      height: 400px;
      width: 400px;
    }
  }
}

.page-footer {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .jumbo-text {
    padding-top: 130px;
    i {
      font-size: 40px;
    }
  }
  .intro-text {
    width: 250px;
  }
  .navbar {
    background-color: #4285F4;
  }
  .section-heading {
    font-size: 45px;
  }
  img.lead-person {
    height: 250px;
    width: 250px;
  }
}
