.navbar {
  background-color: transparent;
  a {
    color: white;
  }
}

.top-nav-collapse {
  background-color: #4285F4 !important;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding-left: 20px;
  color: white;
}
.jumbo-text {
  padding-top: 250px;
  color: white !important;
  button {
    margin: 0;
    color: black !important;
  }
  i {
    font-size: 50px;
  }
}

.intro-text {
  width: 500px;
}

.section {
  padding: 20px;
  font-family: 'Lato', sans-serif;
  .section-heading,
  .section-description {
    padding-bottom: 30px;
  }
}

.jumbotron {
  background: url("../assets/img/androxia.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
}

.feature-box i {
  font-size: 30px;
}

.projects-section {
  background: linear-gradient(135deg, #f5f5f5, #ececec);
  img {
    height: 300px;
    width: 100%;
  }
}

.page-footer {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .jumbo-text {
    padding-top: 130px;
    i {
      font-size: 40px;
    }
  }
  .intro-text {
    width: 250px;
  }
  .navbar {
    background-color: #4285F4;
  }
  .section-heading {
    font-size: 48px;
  }
}
