<!--Main Navigation-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark top-nav-collapse scrolling-navbar" [containerInside]="false">
  <a class="navbar-brand wow bounce" href="#"> Androxia </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#services-section">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#portfolio">Portfolio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#basicExample" (click)="contactUsModal.show()">Contact Us</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary" style="padding:5px" mdbRippleRadius>Got an idea?</button>
      </li>
    </ul>
  </div>
</mdb-navbar>
<!--Main Navigation-->

<!-- Section: Jumbotron -->
<div class="jumbotron">
  <div class="jumbo-text">
    <span>
      <i>Let us help you connect</i>
    </span>
    <div class="intro-text">
      <p class="lead">Our award-winning digital marketing services will ensure you send the right message to the right people.</p>
      <button type="button" class="btn">Learn more</button>
    </div>
  </div>
</div>
<!-- /Section: Jumbotron -->

<!--Section: Why choose us -->
<section class="section feature-box" id="services-section">
  <div class="row">
    <div class="col-xs-12 col-md-4 offset-md-4">
      <h1 class="section-heading display-4 text-center">Why choose us?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
        veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
    </div>
  </div>
  <div class="row features-small pt-2">
    <div class="col-lg-5 mb-r center-on-small-only d-none d-md-block">
      <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
    </div>
    <div class="col-lg-7">
      <div class="row pb-3">
        <div class="col-1">
          <i class="fa fa-hourglass-start"></i>
        </div>
        <div class="col-11">
          <h5 class="feature-title">Startups</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
            hic.
          </p>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-1">
          <i class="fa fa-area-chart"></i>
        </div>
        <div class="col-11">
          <h5 class="feature-title">Digital Marketing</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
            hic.
          </p>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-1">
          <i class="fa fa-lightbulb-o"></i>
        </div>
        <div class="col-11">
          <h5 class="feature-title">Innovation</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
            hic.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Projects section-->
<section class="section pb-3 projects-section" id="portfolio">
  <div class="row">
    <div class="col-xs-12 col-md-4 offset-md-4">
      <h1 class="section-heading display-4 text-center">Portfolio</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
        veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-12 mb-r">
      <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
        <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Sample project image">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <div class="card-body mt-1">
        <a href="" class="blue-text">
          <h5>Wager</h5>
        </a>
        <h4>Keep on bettin'</h4>
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime facere possimus.</p>
        <a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius>
          <i class="fa fa-clone left"></i> View project</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-r">
      <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
        <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" alt="Sample project image">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <div class="card-body mt-1">
        <a href="" class="blue-text">
          <h5>Switz</h5>
        </a>
        <h4>Let us plan it out!</h4>
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime facere possimus.</p>
        <a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius>
          <i class="fa fa-clone left"></i> View project</a>
      </div>

    </div>

    <div class="col-lg-4 col-md-6 mb-r">
      <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
        <img src="../assets/img/embolden.jpg" alt="Sample project image">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <div class="card-body mt-1">
        <a href="" class="blue-text">
          <h5>Embolden</h5>
        </a>
        <h4>Shop the best items</h4>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.
        </p>
        <a class="btn btn-indigo btn-sm waves-light" href="https://www.emboldenyou.com/" target="_blank" mdbRippleRadius>
          <i class="fa fa-clone left"></i> Visit Website</a>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col text-center">
      <h5>Excited enough to find out when our products will get released?</h5>
    </div>
  </div>
  <div class="row justify-content-md-center" style="padding-top:15px">
    <div class="col-md-3 offset-md-1">
      <div class="md-form">
        <input type="text" id="email" class="form-control" mdbActive>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="col-md-2 offet-md-6" style="padding-top:10px">
      <button type="button" class="btn btn-primary btn-md waves-light" mdbRippleRadius>
        Subscribe
      </button>
    </div>
  </div>

</section>
<!--/Projects section -->

<div mdbModal #contactUsModal="mdb-modal" class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center">Write to us</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="contactUsModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Contact Form-->
        <form style="padding:20px">
          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="form3" class="form-control" mdbActive>
            <label for="form3">Your name</label>
          </div>

          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="text" id="form2" class="form-control" mdbActive>
            <label for="form2">Your email</label>
          </div>

          <div class="md-form">
            <i class="fa fa-tag prefix grey-text"></i>
            <input type="text" id="form32" class="form-control" mdbActive>
            <label for="form34">Subject</label>
          </div>

          <div class="md-form">
            <i class="fa fa-pencil prefix grey-text"></i>
            <textarea type="text" id="form8" class="md-textarea" mdbActive></textarea>
            <label for="form8">Your message</label>
          </div>

          <div class="text-center">
            <button class="btn btn-success waves-light" mdbRippleRadius>Send
              <i class="fa fa-paper-plane-o ml-1"></i>
            </button>
          </div>

        </form>
      </div>
      <!--Contact Form-->
    </div>
  </div>
</div>

<section class="section team-section pb-3">

  <div class="row">
    <div class="col-xs-12 col-md-4 offset-md-4">
      <h1 class="section-heading display-4 text-center">Our amazing team</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
        veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
    </div>
  </div>

  <div class="row text-center">

    <div class="col-lg-4 col-md-6 mb-r">
      <div class="avatar">
        <img src="../assets/img/profile_pic.jpg" class="rounded-circle z-depth-1" alt="First sample avatar image">
      </div>
      <h4>Asutosh Patel</h4>
      <h6 class="font-bold blue-text">Co-Founder</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
      <a class="icons-sm">
        <i class="fa fa-linkedin"> </i>
      </a>
      <a class="icons-sm">
        <i class="fa fa-twitter"> </i>
      </a>
      <a class="icons-sm">
        <i class="fa fa-envelope-o"> </i>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 mb-r">
      <div class="avatar">
        <img src="../assets/img/profile_pic.jpg" class="rounded-circle z-depth-1 lead-person" alt="Third sample avatar image">
      </div>
      <h4>Savannah Taylor</h4>
      <h6 class="font-bold blue-text">Founder</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
      <a class="icons-sm">
        <i class="fa fa-linkedin"> </i>
      </a>
      <a class="icons-sm">
        <i class="fa fa-twitter"> </i>
      </a>
      <a class="icons-sm">
        <i class="fa fa-envelope-o"> </i>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 mb-r">
      <div class="avatar">
        <img src="../assets/img/profile_pic.jpg" class="rounded-circle z-depth-1" alt="Fourth sample avatar image">
      </div>
      <h4>Vrund Patel</h4>
      <h6 class="font-bold blue-text">The guy who codes</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

      <a class="icons-sm">
        <i class="fa fa-linkedin"> </i>
      </a>
      <a class="icons-sm">
        <i class="fa fa-github"> </i>
      </a>
      <a class="icons-sm">
        <i class="fa fa-envelope-o"> </i>
      </a>
    </div>

  </div>

</section>
<!--Section: Team-->

<!--Footer-->
<footer class="page-footer mdb-color">
  <div class="footer-copyright">
    &copy; 2017 Copyright:
    <a href="#">Androxia</a>
  </div>
</footer>
<!--/Footer-->
