html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #4285F4;
}
