html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}
.navbar {
  background-color: white !important;
}
.nav-link {
  color: black !important;
}

.top-nav-collapse {
  background-color: #4285F4;
}
